# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
backend/venv/

# Environment variables
.env
backend/.env

# Node
node_modules/
frontend/node_modules/

# Build
dist/
frontend/dist/

# IDE
.vscode/

# macOS
.DS_Store